<%= render "nav" %>
<main class='main-show'>
    <div class="image-container">
        <img src="https://blog-magazine-images.s3.amazonaws.com/How-to-Land-Interviews" alt="">
    </div>
    <div class="content-container">
        <h1 class="title">Careers At A Glance - Talent Sourcing</h1>
        <h1 class="author">By Fintros</h1>
        <p class="body">In the spirit of strict anonymity, names and all identifying information have been removed from the below article. To learn more about Fintros - the leading anonymous opportunity platform for finance leaders - please visit www.fintros.com/faq.

Can you provide us with a brief overview of your work?

Hiring Manager: At my firm I am responsible for anything and everything related to human resources and office administration. This has proved to be a difficult, but rewarding burden as our company has actually doubled in size over the past two years. The most difficult aspect of managing a scaling organization, however, has been finding talented individuals that fit our company culture and share goals that align with the organization’s.

Fintros: What does your hiring process look like?

Hiring Manager: Our firm, like many others, will also ask our candidates to complete a questionnaire during the initial application process. I cannot stress how important the answers to our questionnaire is, as each and every candidate hoping to make it past the initial screening must meet a pre-determined baseline. However, the majority of the applicants we proceed with past this point have taken this opportunity to demonstrate their capacity to go above and beyond and showcase their interest in and knowledge of our company.

Next up is the phone screening that I will conduct with approximately ten percent of the original applicant pool. It is incredible how many people have trouble with this part. Nevertheless, in this process I am doing my best to gauge a better understanding of the behavioral tactics and competencies; in other words, the professionalism of the candidate.

Maybe two percent of candidates will make it to the next stage: the panel interview. Here, I’ll be joined by the manager(s) that the candidate will report to if they get the job. Additionally, any relevant managers will participate in an hour-long session where we like to ask technical questions and get a better understanding of the candidate’s background. As any recruitment manager will tell you, it is critical to verify the candidate’s claims of what they have achieved at their former companies, and in my experience there is no better method of mining this information than the panel interview. Generally, we will probe on projects that they have accomplished, their thought process (how they solve problems). And lastly, we will ask the traditional questions like ‘where do you see yourself’, ‘weaknesses’, etc. I’m confident that these questions will remain a staple of our process, as this helps every firm figure out whether the candidate is on the same path as us.

Fintros: Most memorable candidate?

Hiring Manager: Without a shadow of doubt, the most memorable – for all the right reasons I might add – interview I can remember occurred when a candidate showed up with a lengthy list of questions for the panel. He began without pause, and essentially flipped the table on us by asking a series of great questions. In doing so, he showed incredible initiative and immediately set himself apart. His curiosity demonstrated that he had taken a deep dive into the job description, and he even asked a few questions that made some of the more senior individuals in the room think.

Fintros: How would you define systemic biases in the context of recruitment?

Hiring Manager: In this day and age it is incredibly difficult to avoid biases, whether conscious or unconscious. My advice for every individual involved in recruitment, across all industries, is to acknowledge your biases and do everything possible to mitigate their ability to affect your hiring process. Everyone seems willing to point fingers and suggest that biases in recruitment are a major problem, but the real issue is that most people do not want to accept their own prejudices. I’m eager to see how technology can play a more important role in eliminating biases going forward – more specifically, how blind recruitment will reshape the future of talent sourcing.

Fintros: What do you believe to be your companies worst bias?

Hiring Manager: In my experience, we have a very difficult time focusing our attention away from the university that we have historically hired from, and had successful candidates come from. Unfortunately, this is not an unusual bias to have in our industry. My most successful method here has been to try to outright ignore schools on resumes – but frankly, it’s very difficult without a formal process.

Fintros: Do you believe that enough has been done to counteract biases in recruitment?

Hiring Manager: Certainly not. As important as education is here, so is public awareness. Talent leaders, myself included, ought to do a better job at acknowledging hiring bias and take action on creating more fair hiring processes. In the process, we do need to make sure that we make the process simple, elegant and user friendly for candidates.</p>
    </div>
</main>